name: build-and-test

on:
  push:
  schedule:
  - cron: "0 0 * * 1"

jobs:
  unit-tests:
    name: "Puppet ${{ matrix.puppet-version }} Unit Tests"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - ruby-version: 2.4
            puppet-version: 5
          - ruby-version: 2.5
            puppet-version: 6
          - ruby-version: 2.7
            puppet-version: 7
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{matrix.ruby-version}}
      - run: bundle install
        env:
          PUPPET_VERSION: "~> ${{ matrix.puppet-version }}"
      - run: bundle exec rake test
        env:
          PUPPET_VERSION: "~> ${{ matrix.puppet-version }}"
          SPEC_OPTS: '--format documentation'
          RUBYOPT: "-W0"

  acceptance-tests:
    name: "${{ matrix.label }} Acceptance Tests"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - beaker-set: debian-9-64
            label: "Debian 9"
          - beaker-set: default
            label: "Debian 10"
          - beaker-set: ubuntu-1804-64
            label: "Ubuntu 18.04"
          - beaker-set: ubuntu-2004-64
            label: "Ubuntu 20.04"
    steps:
      - uses: docker/login-action@v1.14.1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
      - run: bundle install
      - run: bundle exec rake beaker
